"auth/validator":{
    "alg": "RS256",
    "jwk_url": "http://10.10.0.53:8080/realms/krakend/protocol/openid-connect/certs",
    "disable_jwk_security": true,
    "cache": true,
    "roles_key": "roles",
    "roles_key_is_nested": false,
    "roles": [
        "admin",
        "user"
    ]
}